@model SSO.Models.Session

<h3>Opps... Something went wrong</h3>
<h5>The server noticed a login session at one another place.</h5>
<h5>Your login session time out.</h5>
@Html.ActionLink("Login", "Index")